.table-container {
  width: 100%;
  max-width: 1200px;

  padding: 20px;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0  0 20px;
}

table {
  width: 100%;
  
  border-collapse: collapse;
  text-align: center;
  
  th {
    background-color: #5984C0;
    color: #FFF;
    padding: 5px;

    &:nth-child(1) { border-radius: 0.2rem 0 0 0; }
    &:nth-child(5) { border-radius: 0 0.2rem 0 0; }
  }

  td {
    background-color: #FFF;
    color: #000;
    padding: 5px;
    border-bottom: 1px solid #AAA;
  }
  
  tr td {
    &:nth-child(1) { border-left: 1px solid #AAA; }
    &:nth-child(5) { border-right: 1px solid #AAA; }
  }

  tr:last-child td {
    &:nth-child(1) { border-radius: 0 0 0 0.2rem; }
    &:nth-child(5) { border-radius: 0 0 0.2rem 0; }
  }
}

